<div class="container row">
<div class="col-md-12">
    <h3 class="text-center">Your Aution</h3>
</div>
<div class="container">
    <!-- Tab links -->
<div class="tab">
  <button class="tablinks" onclick="openCity(event, 'London')" id="defaultOpen">Current Active Bids</button>
  <button class="tablinks" onclick="openCity(event, 'Paris')">Autions won</button>
  <button class="tablinks" onclick="openCity(event, 'Tokyo')">Aution lost</button>
</div>

<!-- Tab content -->
<div id="London" class="tabcontent">
  <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Status</th>
      <th scope="col">Your current bid</th>
      <th scope="col">Current minimum bid</th>
      <th scope="col">Bids</th>
      <th scope="col">Completed</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <th scope="col">You currently do not have any active bid</th>
    </tr>
  </tbody>
</table>
</div>

<div id="Paris" class="tabcontent">
    <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Status</th>
      <th scope="col">Your winning bid</th>
      <th scope="col">Your maximum bid</th>
      <th scope="col">Bids</th>
      <th scope="col">Completed</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <th scope="col">You currently do not have any active bid</th>
    </tr>
  </tbody>
</table>
</div>

<div id="Tokyo" class="tabcontent">
  <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Status</th>
      <th scope="col">Your maximum bid</th>
      <th scope="col">Highest Bidder</th>
      <th scope="col">Bids</th>
      <th scope="col">Completed</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <th scope="col">You currently do not have any active bid</th>
    </tr>
  </tbody>
</table>
</div>

</div>
</div>
</div>