<div class="container row">
<div class="col-md-12">
    <h3 class="text-center">My Profile</h3>
</div>
<div class="container">
    <!-- Tab links -->
<div class="tab">
  <button class="tablinks" onclick="openCity(event, 'London')" id="defaultOpen">Profile</button>
  <button class="tablinks" onclick="openCity(event, 'Paris')">Shop Profile</button>
</div>
<!-- Tab content -->
<div id="London" class="tabcontent">
  <table class="table">
  <thead class="thead-dark">
    <tr>
      <span>Current Profile</span>
      <button type="button">Edit</button>
    </tr>
  </thead>
  <tbody>
    <tr>
        <th scope="row">User name</th>
        <td>Perter Parker</td>
    </tr>
     <tr>
        <th scope="row">Address</th>
        <td>Bronxlyn NewYork</td>
    </tr>
    <tr>
        <th scope="row">Country</th>
        <td>America</td>
    </tr>
    <tr>
        <th scope="row">Email</th>
        <td>PerterParker@marvel.com</td>
    </tr>
    <tr>
        <th scope="row">Mobile</th>
        <td>0875213597</td>
    </tr>
  </tbody>
</table>
</div>

<div id="Paris" class="tabcontent">
    <table class="table">
  <thead class="thead-dark">
    <tr>
      <span>Current Shop</span>
      <button type="button">Edit</button>
    </tr>
  </thead>
  <tbody>
    <tr>
        <th scope="row">Shop name</th>
        <td>KingDom Toy</td>
    </tr>
     <tr>
        <th scope="row">Address</th>
        <td>Bronxlyn NewYork</td>
    </tr>
    <tr>
        <th scope="row">Country</th>
        <td>America</td>
    </tr>
    <tr>
        <th scope="row">Email</th>
        <td>KingdonToy@marvel.com</td>
    </tr>
    <tr>
        <th scope="row">Mobile</th>
        <td>0875213597</td>
    </tr>
  </tbody>
</table>
</div>
</div>
</div>